body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	background-color: darkgray;
	display: flexbox;
}
.ND{ 
	margin: -8px;
	background-color: darkblue;
	height: 55px;
	width: 100%;

}
.NI{
  	display: flex;
  	justify-content: right;
  }
.NL{
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-right: 50px;
}
.NL a{
	color: whitesmoke;
}
h1{
	text-align: center;
				font-weight: bold;
			font-style: oblique;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{text-align: center;
			font-weight: bold;
			font-style: italic;}
div {
	margin: 10px;
	padding: 10px;
	font-family: "Segoe UI";
	font-size: 1rem; 
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
  }
a { text-decoration: none;
  	color: black;
  	transition: 0.5sec;
  }
a:hover{
  	text-decoration: underline;
  }

.DESS{
	color: white;
	background: rgb(16,42,156);
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);	display: grid;
	text-align: center;

}
@media screen and (max-width: 760px) {
	.DESS{
	display: grid;
	grid-template-columns: auto;
}
}

img{width: auto;
	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }
li{
	list-style: none;
}
.Cont{
  	background-color: gray;
	white-space: nowrap;
  }
.Cont_1{
	background-color: gray;
	display: inline-block;
	align-items: center;
	width: auto;
	justify-content: space-evenly;
	align-content: space-evenly;
	justify-items: center;
	vertical-align: top;
}
.Cont p{
	text-align: center;
	font-size: 15px;
	color: white;
	background-color: gray;
}
.Cont h3{
	color: white;
	font-size: 30px;
	padding: 10;
	text-align: center;
	background-color: gray;
}
.CL{
	color: black;
	display: inline-flexbox;
	background-color: gray;
	text-align: center;
	padding: 10px;
}
.CI{
	background-color: gray;
	display: inline-flexbox;
	justify-content: space-evenly;
	align-items: center;
	height: 50px;
	width: auto;
}

.grid-cont .CI{
	display: flex;
	align-items: center;
	justify-content: center;	
	background-color: gray;
}	

@media screen and (max-width: 1200px) {
	.grid-cont{
		display: grid;
		grid-template-columns: repeat(2, 1fr);		
		background-color: gray;
	}	
}
.Back{
	background-image: url("VIS/gradient.png");
}
.text{
	padding: auto;
	text-size-adjust: 16px;
}

#Cer h3{
	text-align: center;
	text-justify: auto;
}
 #Cer {
	margin: 0%;
 }

 .Edu{
	text-align: center;
 }
.Sk_ico{
	height: 50px;
	width: auto;
}
.Skil{
	background-color: aqua;
}
.Sk_Con{
	display: inline-block;
	margin: auto;
	text-align: center;
	align-self: center;
	margin-left: 100px ;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: auto;

}