body{
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Comixo';
	src: url('fonts/Comixo-Regular.');
}

html{
	background-color: white;
}

.ND{ 
	margin: 0px;
	background-color: darkblue;
	height: 55px;
	
}

.NI{
  	display: flex;
  	justify-content: right;
  }

.NL{
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-right: 50px;
}

.NL a{
	color: whitesmoke;
}

.Page_Des{
	margin: auto;
	justify-content: left;
}

h1{
	text-align: center;
				font-weight: bold;
			font-style: oblique;
			font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
		}

h4{text-align: center;
			font-weight: bold;
			font-style: italic;}

div{
	text-justify: auto;	
	margin: 10px;
	padding: 10px;
	font-family: "Segoe UI";
	font-size: 1rem; 
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
}

.Abt_dis {
	text-justify: auto;	
	margin: 10px;
	padding: 10px;
	font-family: "Segoe UI";
	font-size: 1rem; 
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
  }

a { text-decoration: none;
  	color: black;
  	transition: 0.5sec;
  }

a:hover{
  	text-decoration: underline;
  }


.DESS{
	color: white;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);	display: grid;
	text-align: center;

}

#DES_Is{
	background-color: transparent;
	display: inline-block;
}

@media screen and (max-width: 760px) {
	.DESS{
	display: grid;
	grid-template-columns: auto;
}
}

img{width: auto;
	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }

  li{
	list-style: none;
}

.Cont{
	background-color:rgb(204, 201, 201);
  margin: 0px;
}

.Cont_1{
  background-color: rgb(204, 201, 201);
  display: inline-block;
  align-items: center;
  width: auto;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  vertical-align: top;
}

.Cont p{
  text-align: center;
  font-size: 15px;
  background-color: rgb(204, 201, 201);
}

.Cont h3{
  font-size: 30px;
  padding: 10;
  text-align: center;
  background-color: rgb(204, 201, 201);
}

.C-L{
  color: black;
  display: inline-flexbox;
  background-color: rgb(204, 201, 201);
  text-align: center;
  padding: 10px;
}

.C-I{
  background-color: rgb(204, 201, 201);
  display: inline-flexbox;
  justify-content: space-evenly;
  align-items: center;

}

.grid-cont{
  display: flex;
  align-items: center;
  justify-content: center;	
  background-color: rgb(204, 201, 201);
}	

@media screen and (max-width: 1200px) {
  .grid-cont{
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);		
	  background-color: rgb(204, 201, 201);
  }	
}
.Back{
	background-image: url("VIS/gradient.png");
}
.text{
	padding: auto;
	text-size-adjust: 16px;
}

#Cer h3{
	text-align: center;
	text-justify: auto;
}
 #Cer {
	margin: 0%;
 }

.Certi{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;

 }
 .Certi h5{
	margin: 10px;
 }

.Cer_I{
	text-align: center;
	display: inline-block;
	align-items: center;
	justify-content: center;
	align-items: center;

}
#Edu {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
 }
#Edu img{
	height: 150px;
	width: auto;
}

.Edu_I{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.Sk_ico{
	height: 50px;
	width: auto;
}
.Skil{
	background-color: white;
	justify-content: center;
	align-items: center;

}
.SK{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -10px;
}
.Sk_Con{
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.Sk_Con:hover{
	text-align: center;
}

#rec{
	display: contents;
}

.rec_cont{
	display: block;
}


#Rec_I{
	text-align: center;
	display: flex;
}

#Work_XP{
	padding: 20px;
	display: block;
	text-justify: center;
}

#Rec_Add{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#Rec_Add form{
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Nav_Page{
	margin: 0px;
	height: 55px;
}

.Nav_Page .NI{
	display: flex;
	justify-content: center;
}

.Nav_Page .NL{
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-right: 50px;
}

.Nav_Page .NL a{
	color: black;
}

#data_dis{
	display: block;
}


.data_img{
	height: 500px;
	width: auto;
}
@media screen and (max-width: 760px) {
	.data_img{
		height: 250px;
		width: auto;
	}
	
}
