body{
	padding: 0;
	box-sizing: border-box;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.text {
    font-size: 1rem; 
}

@font-face {
	font-family: 'Comixo';
	src: url('fonts/Comixo-Regular.');
}

html{
	font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@media (max-width: 1200px) {
	.container {
	  max-width: 1140px;
	}
  }
  
  

@media screen and (max-width: 760px) {
	html{
		height: fit-content;
		width: fit-content;
	}
	
}


.ND{ 
	margin: 0px;
	background-color: darkblue;
	height: 55px;
	
}

.NI{
  	display: flex;
  	justify-content: right;
  }

.NL{
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-right: 50px;
}

.NL a{
	color: whitesmoke;
	display: block;
}

.Page_Des{
	margin: auto;
	justify-content: left;
}

h1{
	text-align: center;
				font-weight: bold;
			font-style: oblique;
			font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
		}
h2{
	text-align: center;
			font-weight: bold;
			font-style: italic;
		}

h3{text-align: center;
			font-weight: bold;
			font-style: italic;}

h4{text-align: center;
			font-weight: bold;
			font-style: italic;}

h5{text-align: center;
			font-weight: bold;
			font-style: italic;}

div{
	text-justify: auto;	
	padding: 10px;
	font-family: "Segoe UI";
}

.Abt_dis {
	text-justify: auto;	
	padding: 10px;
	font-family: "Segoe UI";
	line-height: 1.5;
	color: white;
  }

a { text-decoration: none;
  	color: black;
  	transition: 0.5sec;
  }
  
a:hover{
  	text-decoration: underline;
  }


.DESS{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: white;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);	display: grid;
	text-align: center;
	justify-content: center;
	align-items: center;

}

.DESS_I{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	justify-content: center;
	align-items: center;
}

#DES_Is{
	background-color: transparent;
	
}

@media screen and (max-width: 760px) {
	.DESS{
	display: grid;
	grid-template-columns: auto;
}
}

.Intro_Page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img{width: auto;
	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }

  li{
	list-style: none;
}

.Cont{
	background-color:rgb(204, 201, 201);
  margin: 0px;
  text-align: center;
}

.Cont_1{
  background-color: rgb(204, 201, 201);
  display: inline-block;
  align-items: center;
  width: auto;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
 
}

.Cont p{
  text-align: center;
  font-size: 12px;
  background-color: rgb(204, 201, 201);
}



.C-L{
  color: black;
  display: inline-flexbox;
  background-color: rgb(204, 201, 201);
  text-align: center;
  padding: 5px;
}

.C-I{
  background-color: rgb(204, 201, 201);
  display: inline-flexbox;
  justify-content: space-evenly;
  align-items: center;

}

.grid-cont{
  display: flex;
  align-items: center;
  justify-content: center;	
  background-color: rgb(204, 201, 201);
}	

@media screen and (max-width: 1200px) {
  .grid-cont{
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);		
	  background-color: rgb(204, 201, 201);
  }	
}
.Back{
	background-image: url("VIS/gradient.png");
}
.text{
	padding: auto;
	text-size-adjust: 16px;
}

#Cer h3{
	text-align: center;
	text-justify: auto;
}
 
#Cer {
	margin: 0%;
 }

.Certi{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-content: center;
	align-items: center;

 }
 .Certi h5{
	margin: 10px;
 }

.Cer_I{
	text-align: center;
	display: inline-block;
	align-items: center;
	justify-content: center;
	align-items: center;

}
#Edu {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
 }
#Edu img{
	height: 150px;
	width: auto;
}

.Edu_I{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.Sk_ico{
	height: 50px;
	width: auto;
}

.SK{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: -10px;
}
.Sk_Con{
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.Sk_Con:hover{
	text-align: center;
}

#rec{
	display: contents;
}

.rec_cont{
	display: block;
}


#Rec_I{
	text-align: center;
	display: flex;
}

#Work_XP{
	padding: 20px;
	display: block;
	text-justify: center;
}

#Rec_Add{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#Rec_Add form{
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  
  .nav-link {
	display: block;
	padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
	text-decoration: none;
  }


#data_dis{
	display: block;
}


.data_img{
	height: 500px;
	width: auto;
}
@media screen and (max-width: 760px) {
	.data_img{
		height: 250px;
		width: auto;
	}
	
}

.Collage{
	width: 1300px;
		height: 1000px;
	background-image: url("VIS/Personal\ Collage.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	background-position-y: top;
	background-attachment: absolute;
}



#Face{
	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content: right;
	height: 550px;
	width: auto;
	background-image: url("VIS/137871.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	background-position-y: top;
	background-attachment: absolute;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#Cer_Container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* PC Large Screen Display ? */
@media screen and (max-width: 760px) {
	html{
		height: auto;
		width: 100%;
		padding: 1px;
	}
	
	#Face{
		display: flex;
		flex-direction: row;
		align-items: right;
		justify-content: right;
		height: 500px;
		width: auto;
		background-image: url("VIS/137871.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;	
		background-position-y: top;
		background-attachment: absolute;
	}

	.Collage{
	width: 650px;
	height: 500px;
	background-image: url("VIS/Personal\ Collage.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	background-position-y: top;
	background-attachment: absolute;
}

.DESS_I{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

}

/* PC Small Screen Display */
@media screen and (max-width: 450px) {
	html{
		height: auto;
		width: 100%;
		padding: 1px;
	}
	
	#Face{
		display: flex;
		flex-direction: row;
		align-items: right;
		justify-content: right;
		height: 250px;
		width: auto;
		background-image: url("VIS/137871.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;	
		background-position-y: top;
		background-attachment: absolute;
	}

	.Collage{
	width: 180px;
	height: 300px;
	background-image: url("VIS/Personal\ Collage.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	background-position-y: top;
	background-attachment: absolute;
}
}


/* Mobile Screen Display */
@media screen and (max-width: 600px) {
	html{
		height: auto;
		width: 50%;
		padding: 1px;
	}
	
	#Face{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100px;
		width: auto;
		background-image: url("VIS/137871.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;	
		background-position-y: top;
		background-attachment: absolute;
	}

	.Collage{
	size: -50%;
	width: 180px;
	height: 300px;
	background-image: url("VIS/Personal\ Collage.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	background-position-y: top;
	background-attachment: absolute;
}


.DESS{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: white;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);	display: grid;
	text-align: center;
	justify-content: center;
	align-items: center;

}

.DESS_I{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#DES_Is{
	background-color: transparent;
	
}



.Intro_Page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img{width: auto;
	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }

  li{
	list-style: none;
}

.Cont{
	background-color:rgb(204, 201, 201);
  margin: 0px;
  text-align: center;
}

.Cont_1{
  background-color: rgb(204, 201, 201);
  display: inline-block;
  align-items: center;
  width: auto;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
 
}

.Cont p{
  text-align: center;
  font-size: 12px;
  background-color: rgb(204, 201, 201);
}



.C-L{
  color: black;
  display: inline-flexbox;
  background-color: rgb(204, 201, 201);
  text-align: center;
  padding: 5px;
}

.C-I{
  background-color: rgb(204, 201, 201);
  display: inline-flexbox;
  justify-content: space-evenly;
  align-items: center;

}

.grid-cont{
  display: flex;
  align-items: center;
  justify-content: center;	
  background-color: rgb(204, 201, 201);
}	

.Back{
	background-image: url("VIS/gradient.png");
}
.text{
	padding: auto;
	text-size-adjust: 16px;
}

#Cer h3{
	text-align: center;
	text-justify: auto;
}
 
#Cer {
	margin: 0%;
 }

.Certi{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-content: center;
	align-items: center;

 }
 .Certi h5{
	margin: 10px;
 }

.Cer_I{
	text-align: center;
	display: inline-block;
	align-items: center;
	justify-content: center;
	align-items: center;

}
#Edu {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
 }
#Edu img{
	height: 150px;
	width: auto;
}

.Edu_I{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.Sk_ico{
	height: 50px;
	width: auto;
}

.SK{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: -10px;
}
.Sk_Con{
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.Sk_Con:hover{
	text-align: center;
}

#rec{
	display: contents;
}

.rec_cont{
	display: block;
}


#Rec_I{
	text-align: center;
	display: flex;
}

#Work_XP{
	padding: 10px;
	display: block;
	text-justify: center;
}

#Rec_Add{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#Rec_Add form{
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  
  
  
  .nav-link:hover, .nav-link:focus {
	text-decoration: none;
  }


#data_dis{
	display: block;
}


.data_img{
	max-width: 100%;
    height: auto;
}





#Cer_Container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


}